@model ImageViewModel
@{
    ViewData["Title"] = "Index";
}
<br />
<br />
<div class="col-12">
    <div class="card p-3 mb-2" style="background-color: #dacbc6">
        <div class="card-header">
            <div class="text-center"><h5><strong>Photo Gallery</strong></h5></div>
        </div>
        <div class="card-body">
            <br />
            <div class="row">
                @if (Model.imageList != null)
                {
                    foreach (var item in Model.imageList)
                    {
                        <div class="col-sm-2">
                            <a href="@Url.Content("~/photos/"+item.Name)" data-toggle="lightbox" data-title="" data-gallery="gallery">
                                <img src="~/photos/@item.Name" asp-append-version="true" class="img-fluid mb-2" />
                            </a>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        $(function () {
            $(document).on('click', '[data-toggle="lightbox"]', function (event) {
                event.preventDefault();
                $(this).ekkoLightbox({
                    alwaysShowClose: true
                });
            });
        });
    </script>
}  