@page
@model HersFlowers.Views.Home.aboutModel
@{
}
<div class="about-section">
    <h1>About Us Page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis non dolor ac fringilla. 
    Vivamus bibendum pharetra augue id porttitor. Nunc libero lectus, aliquam vitae tristique quis, viverra porta libero. 
    Cras faucibus ex porttitor vulputate condimentum. Ut ac eros egestas, malesuada arcu in, auctor nisi.</p>
</div>

<h2 style="text-align:center">Our Family</h2>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center">Jane Doe</h5>
                    <p class="card-text">
                        A little lorem ipsum.  Morbi ornare, purus sit amet laoreet porta, ipsum nunc rhoncus eros, in
                        varius massa mauris eget leo.  Phasellus in eros at elit pretium pharetra. Aliquam libero erat, facilisis ac vehicula ut,
                        pretium vitae libero. Aliquam libero erat, facilisis ac vehicula ut, pretium vitae libero.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="text-center">John Doe</h5>
                    <p class="card-text">
                        A little lorem ipsum.  Morbi ornare, purus sit amet laoreet porta, ipsum nunc rhoncus eros, in
                        varius massa mauris eget leo.  Phasellus in eros at elit pretium pharetra. Aliquam libero erat, facilisis ac vehicula ut,
                        pretium vitae libero. Aliquam libero erat, facilisis ac vehicula ut, pretium vitae libero.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>