@page
@model HersFlowers.Views.Home.aboutModel
@{
}
<br />
<br />

<div style="margin: auto" class="w-75">
    <div class="card p-3 mb-2" style="background-color: #dacbc6">
        <h5 class="card-header text-center"><strong>About Us</strong></h5>
        <div class="card-body">

            <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus sagittis non dolor ac fringilla.
                Vivamus bibendum pharetra augue id porttitor. Nunc libero lectus, aliquam vitae tristique quis, viverra porta libero.
                Cras faucibus ex porttitor vulputate condimentum. Ut ac eros egestas, malesuada arcu in, auctor nisi.
            </p>
            <br />
        </div>
    </div>
</div>
    <h2 style="text-align:center"></h2>
    <div class="container-fluid w-75">
        <div class="row">
            <div class="col-sm-6">
                <div class="card">
                    <div class="card-body bg-light text-dark">
                        <h5 class="text-center font-italic font-weight-bold ">Jane Doe</h5>
                        <p class="card-text font-italic">
                            A little lorem ipsum.  Morbi ornare, purus sit amet laoreet porta, ipsum nunc rhoncus eros, in
                            varius massa mauris eget leo.  Phasellus in eros at elit pretium pharetra. Aliquam libero erat, facilisis ac vehicula ut,
                            pretium vitae libero. Aliquam libero erat, facilisis ac vehicula ut, pretium vitae libero.<br /><br />
                            Morbi lorem sapien, tempus vitae nulla ac, ultrices blandit neque. Pellentesque habitant morbi tristique senectus
                            et netus et malesuada fames ac turpis egestas. Donec ac sodales ligula. Sed dignissim tortor sit amet dolor ultrices,
                            luctus viverra justo pharetra. Sed ipsum risus, convallis quis finibus vel, varius sed est.
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="card bg-light text-dark">
                    <div class="card-body">
                        <h5 class="text-center font-italic font-weight-bold">John Doe</h5>
                        <p class="card-text font-italic">
                            A little lorem ipsum.  Morbi ornare, purus sit amet laoreet porta, ipsum nunc rhoncus eros, in
                            varius massa mauris eget leo.  Phasellus in eros at elit pretium pharetra. Aliquam libero erat, facilisis ac vehicula ut,
                            pretium vitae libero. Aliquam libero erat, facilisis ac vehicula ut, pretium vitae libero.<br /><br />
                            Morbi lorem sapien, tempus vitae nulla ac, ultrices blandit neque. Pellentesque habitant morbi tristique senectus
                            et netus et malesuada fames ac turpis egestas. Donec ac sodales ligula. Sed dignissim tortor sit amet dolor ultrices,
                            luctus viverra justo pharetra. Sed ipsum risus, convallis quis finibus vel, varius sed est.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
