<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>About Bee Her</title>
</head>
<body>
    <div id="about">
        <h1>About Bee Her</h1>
        <h3>Bee Her</h3>
        <p>In 1979, Beer Her came to America with her husband, Cher Tong Her, as Hmong refuees, to start their new life.  With
        little experience in America's work force, her and her husband worked hard to provide for their children, taking on a 
        multitude of jobs; from taking care of the elder, working company jobs, to selling nightcrawler's and pumpkins from their
        porch.  It was their passion to grow produce and flowers, as a way of life.
        </p>
        <p>For the past 12+ years, Bee and her husband has sold produce and flowers at the Appleton Farmers Market.  Through the market, 
        customers began inquiring about flowers for special events.  Since then, Bee has provided customers interested in having her 
        flowers be a part of their occastion withing the Fox Cities and surrounding area.
        </p>
    </div>
</body>
</html>