@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <link rel="stylesheet" href="~/css/bootstrapSpaceLab.css" />
    <link rel="stylesheet" href="~/css/bootstrap.minSpaceLab.css" />
}

<style type="text/css">
    #map {
        height: 400px;
        width: 70%;
    }
</style>
<script>
    function initMap() {
        const myLatLng = { lat: 44.24751, lng: -88.37369 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
        });
    }
</script>

<body>


    <h3>Location of Business</h3>
    <div id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
            type="text/javascript"></script>
</body>
