
@{
}

<style type="text/css">
    #map {
        height: 400px;
        width: 70%;
    }
</style>
<script>
    function initMap() {
        const myLatLng = { lat: 44.24751, lng: -88.37369 };
        const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: myLatLng,
        });
        new google.maps.Marker({
            position: myLatLng,
            map,
        });
    }
</script>

<body>


    <h3 class="text-center">Location of Business</h3>
    <p class="text-center">Please Register or Login to submit a Meeting Request form.</p>
    <br />
    <div style="margin:auto" id="map"></div>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-53zzWvF8zd-FFxmMFwta6VngyJbXJE4&callback=initMap"
            type="text/javascript"></script>
    
</body>
