@page
@model HersFlowers.Views.Home.SerivcesModel
@{
}
<body>
    <p>
        We offer a variety of servies that best meet your special occasion needs.  It is recommended that customers
        schedule a time, at minimum 2 weeks prior to the event to disscuss in-person or over the phone, any details regarding your request for
        flowers.
    </p>
    <h4>DEPOSIT</h4>
    <p>At the time of confirming your order, please be prepated to pay a 25% deposit to secure your order.</p>
    <h4>CONCELLATIONS</h4>
    <p>We ask that customer sfive us a notice at least 1 week before the event, to cancel any comitments to orders.</p>

    <div>
        <h6>Boquet Estimator Calculator</h6>
        <table width="60%">
            @*<tr>
                <th>
                    Bouquets
                </th>
                <th>
                    Quantity
                </th>
            </tr>*@
            <tr>
                <td>Large Bouquets price $15</td>
                <td><input placeholder="Enter Your Quantity" /></td>
            </tr>
            <tr>
                <td>Small Bouquets price $10</td>
                
                <td><input placeholder="Enter Your Quantity" /></td>
            </tr>
            <tr>
                <td><label id="">TOTAL Estimated Cost</label></td>
                <td><label id="">total cost display here</label></td>
            </tr>
        </table>
    </div>

</body>