@page
@model HersFlowers.Views.Home.SerivcesModel
@{
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>
</head>
<body>
    <p>
        We offer a variety of servies that best meet your special occasion needs.  It is recommended that customers
        schedule a time, at minimum 2 weeks prior to the event to disscuss in-person or over the phone, any details regarding your request for
        flowers.
    </p>
    <h4>DEPOSIT</h4>
    <p>At the time of confirming your order, please be prepated to pay a 25% deposit to secure your order.</p>
    <h4>CONCELLATIONS</h4>
    <p>We ask that customer sfive us a notice at least 1 week before the event, to cancel any comitments to orders.</p>

    <div>
        <h6>Boquet Estimator Calculator</h6>
        <table action="" width="60%">
            @*<tr>
                <th>
                    Bouquets
                </th>
                <th>
                    Quantity
                </th>
            </tr>*@
            <tr>
                <td id="largePricing">Large Bouquets price $15</td>
                <td><input class="calculate" id="largeQuantity" placeholder="Enter Your Quantity" /></td>
            </tr>
            <tr>
                <td id="smallPricing">Small Bouquets price $10</td>
                
                <td><input class="calculate" id="smallQuantity" placeholder="Enter Your Quantity" /></td>
            </tr>
            <tr>
                <td><label >TOTAL Estimated Cost</label></td>
                <td><label id="totalEstimate">total cost display here</label></td>
            </tr>
            <tr>
                <td align="right"><input type="submit" value="Calculate" /></td>            
            </tr>
        </table>
    </div>

</body>