<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Our Services</title>
</head>
<body>
    <p>We offer a variety of servies that best meet your special occasion needs.  It is recommended that customers 
    schedule a time, at minimum 2 weeks prior to the event to disscuss in-person or over the phone, any details regarding your request for 
    flowers.</p>
    <h4>DEPOSIT</h4>
    <p>At the time of confirming your order, please be prepated to pay a 25% deposit to secure your order.</p>
    <h4>CONCELLATIONS</h4>
    <p>We ask that customer sfive us a notice at least 1 week before the event, to cancel any comitments to orders.</p>
</body>
</html>