@page
@model Request
@{
}
<div>
    <form asp-action="Edit">
        <div class="col-md-4">
            <label asp-for="Customer.FirstName" class="control-label">First Name</label>
            <input asp-for="Customer.FirstName" type="text" id="FirstName" class="form-control" />
            <span asp-validation-for="Customer.FirstName" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Customer.LastName" class="control-label">Last Name</label>
            <input asp-for="Customer.LastName" type="text" id="LastName" class="form-control" />
            <span asp-validation-for="Customer.LastName" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Customer.PhoneNumber" class="control-label">Phone Number </label>
            <input asp-for="Customer.PhoneNumber" type="tel" id="PhoneNumber" class="form-control" />
            <span asp-validation-for="Customer.PhoneNumber" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Date" class="control-label">Select Your Date </label>
            <input asp-for="Date" type="tel" class="form-control" value="DateTime.Today" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Time" class="control-label">Select Your Time </label>
            <input asp-for="Time" type="tel" class="form-control" value="DateTime.Today" />
            <span asp-validation-for="Time" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Message" class="control-label">Message</label>
            <textarea asp-for="Message" class="form-control" rows="4"></textarea>
            <span asp-validation-for="Message" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Customer.Subscribe" class="control-label">Subscribe to a monthly email to see what flowers we have!</label>
            <input asp-for="Customer.Subscribe" class="form-check-input me-2" type="checkbox" value="" id="Subscribe" checked />
        </div>

        <button type="submit" class="btn btn-primary btn-block mb-4">Send</button>
    </form>
</div>