@model IEnumerable<HersFlowers.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShoppingCart</h1>
<a asp-action="Product" asp-route-id="">Product</a> |

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity) of Bouquets
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                </td>

                @*<td>
                        <a asp-action="UpdateCart" asp-route-id="@item.Id">Update Cart</a>
                    </td>*@
            </tr>
        }
    </tbody>
</table>
