@model HersFlowers.Models.ViewModels.ShoppingCartFlowerViewModel

@{
    ViewData["Title"] = "TESTProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TESTProduct</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Price
            </th>



            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Flowers) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                <a asp-action="AddToCart" asp-route-id="@item.Id">Add to Cart</a>
                @*<a asp-action="RemoveFromCart" asp-route-id="@item.Id">Remove from Cart</a>*@
            </td>
        </tr>
}
    </tbody>
</table>
